<h1> Welcome to GK's product hunt clone </h1>
<div class="row">
  <% @products.each do |product| %>
    <div class="col-3 card m-1">
      <div class="card-body d-flex flex-column">
        <strong> <%= product.name %> </strong>
        <small class="text-muted"> <%= product.tag_line %> </small>
      </div>
    </div>
  <% end %>
</div>
